@tailwind base;

@tailwind components;

@tailwind utilities;

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.bar {
    width: 1.5rem;
    height: 0.15rem;
    background-color: rgb(228, 227, 227);
    margin: 0.35rem 0.15rem;
}